cgol-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "... header"
    "sidebar content"
    "... footer";
  grid-template-columns: 120px auto 120px;
}

.header {
  grid-area: header;
}

cgol-sidenav {
  grid-area: sidebar;
}

cgol-board-page {
  grid-area: content;
}

.footer {
  grid-area: footer;
}