/* cgol-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: ". header ."
    ". content ."
    ". footer ."; */
  /* grid-template-columns: auto 800px auto; */
  /* grid-template-rows: 10vh 70vh auto; */
  /* grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  justify-items: center;
} */

cgol-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  cgol-layout {
    display: grid;
    grid-template-columns: minmax(0, 100px) 1fr minmax(0, 100px);
    grid-template-rows: auto 1fr auto;
    justify-items: center;
  }
}

/* grid-areas need to be defined in a single media query */
@media (min-width: 768px) {
  cgol-layout {
    grid-template-areas: ". header ."
    ". content ."
    ". footer .";
  }

  .header {
    grid-area: header;
  }
  
  cgol-board-page {
    grid-area: content;
  }
  
  .footer {
    grid-area: footer;
  }
}

cgol-dimensions {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer {
    width: 50%;
  }
}

.material-icons.md-36 { font-size: 36px; }

.subtitle {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
  text-align: center;
}

@media (min-width: 550px) {
  .subtitle { font-size: 2.4rem; }
}