cgol-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: ". header ."
    ". content ."
    ". footer .";
  grid-template-columns: auto 800px auto;
  grid-template-rows: 10vh 70vh auto;
  justify-items: center;
}

.header {
  grid-area: header;
}

cgol-sidenav {
  grid-area: sidebar;
}

cgol-board-page {
  grid-area: content;
}

.material-icons { cursor: pointer; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-inactive { color: rgba(0, 0, 0, 0.26); cursor: initial; }

.footer {
  width: 25%;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }