/* You can add global styles to this file, and also import other style files */

@import './normalize.css';

html { box-sizing: border-box; font-size: 62.5%; }
*, *:before, *:after { box-sizing: inherit; }

body {
  color: #222;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: -.1rem;
  line-height: 1.2;
}

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
}

button {
  display: inline-block;
  margin-bottom: 1rem;
  border: 1px solid #bbb;
  padding: 0 30px;
  height: 38px;
  background-color: transparent;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

button:hover,
button:focus {
  border-color: #888;
  color: #333;
  outline: 0;
}

button.md-inactive:hover {
  border-color: #bbb;
}

.md-inactive { color: rgba(0, 0, 0, 0.26) !important; cursor: initial !important; }

input[type="number"] {
  margin-bottom: 1.5rem;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}